.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input[type="range"].custom-range {
  --thumb-color: #ffffff;
  --track-bg: #3f3f3f;
  --track-fill: #ffffff;
}

/* WebKit (Chrome, Safari) */
input[type="range"].custom-range::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(
      to right,
      var(--track-fill) 0%,
      var(--track-fill) calc(var(--value) * 1%),
      var(--track-bg) calc(var(--value) * 1%),
      var(--track-bg) 100%
  );
  border-radius: 9999px;
}

input[type="range"].custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: var(--thumb-color);
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
input[type="range"].custom-range::-moz-range-track {
  height: 4px;
  background: var(--track-bg);
  border-radius: 9999px;
}

input[type="range"].custom-range::-moz-range-progress {
  height: 4px;
  background: var(--track-fill);
  border-radius: 9999px;
}

input[type="range"].custom-range::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: var(--thumb-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
