.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input[type="range"].custom-range {
  --thumb-color: #ffffff;
  --track-bg: #3f3f3f;
  --track-fill: #ffffff;
}

/* WebKit (Chrome, Safari) */
input[type="range"].custom-range::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(
      to right,
      var(--track-fill) 0%,
      var(--track-fill) calc(var(--value) * 1%),
      var(--track-bg) calc(var(--value) * 1%),
      var(--track-bg) 100%
  );
  border-radius: 9999px;
}

input[type="range"].custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: var(--thumb-color);
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
input[type="range"].custom-range::-moz-range-track {
  height: 4px;
  background: var(--track-bg);
  border-radius: 9999px;
}

input[type="range"].custom-range::-moz-range-progress {
  height: 4px;
  background: var(--track-fill);
  border-radius: 9999px;
}

input[type="range"].custom-range::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: var(--thumb-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Vertical range inputs */
input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 140px;
  padding: 0 5px;
  background: transparent;
}

/* WebKit (Chrome, Safari) vertical slider styles */
input[type="range"][orient="vertical"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px;
}

input[type="range"][orient="vertical"]::-webkit-slider-runnable-track {
  width: 8px;
  background: #3f3f3f;
  border-radius: 4px;
  cursor: pointer;
}

/* Firefox vertical slider styles */
input[type="range"][orient="vertical"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"][orient="vertical"]::-moz-range-track {
  width: 8px;
  background: #3f3f3f;
  border-radius: 4px;
  cursor: pointer;
}

/* For Firefox, we need to rotate the track */
@-moz-document url-prefix() {
  input[type="range"][orient="vertical"] {
    transform: rotate(180deg);
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-gradient-animated {
  background: linear-gradient(270deg, #0accbc, #11ff00, #73e352, #FFD970);
  background-size: 300% 300%;
  animation: gradient-move 16s ease infinite;
  color: white;
}

.gradient-bg {
  background: linear-gradient(270deg, #00ff95, #00e0ff, #00ff95);
  background-size: 400% 400%;
  animation: gradient-move 14s ease infinite;
}


